
{% extends "blog/base.html" %}

{% block title %}記事一覧{% endblock title %}

{% block content %}

    <div class="container">
        {% for article in latest_articles %}
            <a href="{% url 'blog:detail' article.id %}">
                <div class="card card-body " style="margin: 20px;">
                    <div class="row">
                        <div class="col-9">
                            <p class="card-text text-left">{{ article.title }}</p>
                        </div>
                        <div class="col-3">
                            <p class="card-text text-right">{{ article.pub_date.date }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}